# AUTH

# run 'npx auth secret' or 'openssl rand -base64 32' to generate a new AUTH_SECRET
AUTH_SECRET=G+yQTy4q+qj6VA6K76B5S8zmvpm3BvyXgJzIXhk0JMs=
AUTH_GOOGLE_CLIENT_ID=
AUTH_GOOGLE_CLIENT_SECRET=
AUTH_MICROSOFT_ENTRA_ID_CLIENT_ID=
AUTH_MICROSOFT_ENTRA_ID_CLIENT_SECRET=

# BILLING

NEXT_PUBLIC_BILLING_STRIPE_PUBLISHABLE_KEY=
BILLING_STRIPE_SECRET_KEY=
BILLING_STRIPE_WEBHOOK_SECRET=
BILLING_PRO_PRODUCT_ID=
BILLING_PRO_PRODUCT_PRICE_ID=
BILLING_UNIT=per_seat # per_seat | per_organization

# DATABASE
DATABASE_URL=postgresql://postgres:password@localhost:5432/database

# EMAIL

EMAIL_FROM=noreply@mailer.mydomain.com # recommendendation is to use a subdomain
EMAIL_FEEDBACK_INBOX=feedback@mydomain.com
EMAIL_MAILER=NodeMailer # choose between 'NodeMailer' and 'Resend'
# credentials (just need to fill out one)
EMAIL_NODEMAILER_URL=smtp://myemail@gmail.com:suyz yeba qtgv xrnp@smtp.gmail.com:465
EMAIL_RESEND_API_KEY=

# ROUTES

NEXT_PUBLIC_DASHBOARD_URL=http://localhost:3000
NEXT_PUBLIC_MARKETING_URL=http://localhost:3001
NEXT_PUBLIC_PUBLIC_API_URL=http://localhost:3002
